/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';
/* General Styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.main {
  max-width: 80%;
  margin: auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h4 {
  color: #333;
}

/* Button Styles */
button {
  cursor: pointer;
  padding: 8px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin: 5px;
}

.edit-button {
  cursor: pointer;
  padding: 8px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  background-color: #fccf98;
}

.delete-button {
  cursor: pointer;
  padding: 8px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  background-color: #fc9898;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-info {
  background-color: #17a2b8;
  color: white;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  white-space: nowrap;
}

thead {
  background-color: #eee;
}

/* Form Styles */
.form-control {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}


/* Pagination Controls */
.pagination-controls {
  margin-top: 20px;
  text-align: center;
}

/* Misc */
.link {
  color: #007bff;
  cursor: pointer;
}

.custom-select {
  display: inline-block;
  width: auto;
  padding: 6px 12px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: #ffffff;
}

.custom-select:focus {
  border-color: #80bdff;
  outline: none;
}

.sort-button {
  cursor: pointer;
  padding: 5px 10px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius:5px;
  background-color: transparent;
  transition: background-color 0.3s;
}

.sort-button:hover {
  background-color: #f8f9fa;
}
