<div class="modal fade" [class.show]="showModal" [style.display]="showModal ? 'block' : 'none'" tabindex="-1" role="dialog" aria-labelledby="taskModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="taskModalLabel">{{task.taskId ? 'Edit Task' : 'Add Task'}}</h5>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="taskName">Task Name</label>
            <input type="text" class="form-control" id="taskName" [(ngModel)]="task.taskName" name="taskName">
          </div>
          <div class="form-group">
            <label for="taskDescription">Description</label>
            <textarea class="form-control" id="taskDescription" [(ngModel)]="task.taskDescription" name="taskDescription"></textarea>
          </div>
          <div class="form-group">
            <label for="deadline">Deadline</label>
            <input type="datetime-local" class="form-control" id="deadline" [(ngModel)]="task.deadline" name="deadline">
          </div>
          <div class="form-group">
            <label for="category">Category</label>
            <select class="form-control" id="category" [(ngModel)]="task.categoryId" name="category">
              <option *ngFor="let category of categories" [value]="category.categoryId">{{category.categoryName}}</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveOrEditTask()">Save Task</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade" [class.show]="showModal" *ngIf="showModal"></div>

