<div class="modal" tabindex="-1" [ngStyle]="{'display': showModal ? 'block' : 'none'}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ category.categoryId ? 'Edit Category' : 'Add Category' }}</h5>
                <button type="button" class="btn-close" (click)="onClose()"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="categoryName" class="form-label">Category Name</label>
                        <input id="categoryName" type="text" [(ngModel)]="category.categoryName" class="form-control" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="mb-3">
                        <label for="categoryDescription" class="form-label">Description</label>
                        <input id="categoryDescription" type="text" [(ngModel)]="category.categoryDescription" class="form-control" [ngModelOptions]="{standalone: true}">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="onClose()">Close</button>
                <button type="button" class="btn btn-primary" (click)="onSave()">Save</button>
            </div>
        </div>
    </div>
</div>


