
<div style="display: inline">
  <h4>Manage todo categories</h4>
  <button class="btn btn-light" routerLink="/">&#8617; Go to your todos</button>
</div>

<button class="btn btn-primary" (click)="openModal()">&#x2B; Add New Category</button>
<table class="table">
    <thead>
    <tr>
        <th>Category Name</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let category of categories">
        <td>{{ category.categoryName }}</td>
        <td>{{ category.categoryDescription }}</td>
        <td>
            <button class="edit-button" (click)="openModal(category)">&#x270E;</button>
            <button class="delete-button" (click)="deleteCategory(category.categoryId!)">&#x2715;</button>
        </td>
    </tr>
    </tbody>
</table>

<app-category-modal #categoryModal (save)="saveOrEditCategory($event)" (close)="loadCategories()"></app-category-modal>

