<div>
  <button class="btn btn-primary" (click)="openModal()">&#x2B; Add New Task</button>
  <button class="btn btn-primary" routerLink="/manage-categories">Manage Categories</button>
  <select #categorySelect (change)="onCategoryChange(categorySelect.value)" class="custom-select">
    <option value="">All Categories</option>
    <option *ngFor="let category of categories" [value]="category.categoryId">{{ category.categoryName }}</option>
  </select>
  <br><br>
  <h4>Your todos:</h4>
  <table>
    <thead>
    <tr>
      <th>
        Task Name
        <button class="sort-button" (click)="toggleSort('taskName')">&#8645;</button>
      </th>
      <th>Description</th>
      <th>
        Deadline
        <button class="sort-button" (click)="toggleSort('deadline')">&#8645;</button>
      </th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{ task.taskName }}</td>
      <td>{{ task.taskDescription }}</td>
      <td>{{ task.deadline | date: 'yyyy-MM-dd \'at\' HH:mm' }}</td>
      <td>
        <button class="edit-button" (click)="openModal(task)">&#x270E;</button>
        <button class="delete-button" *ngIf="task.taskId" (click)="deleteTask(task.taskId)">&#x2715;</button>
      </td>
    </tr>
    </tbody>
  </table>

  <!-- Pagination Controls -->
  <div class="pagination-controls">
    <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage <= 1">Previous</button>
    <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage >= totalPages">Next</button>
  </div>



</div>
<app-add-task-modal #addTaskModal (modalClose)="loadTasks()"></app-add-task-modal>



